@page
@model OnePlayerScrabble.Pages.NewGameModel
@{
    ViewData["Title"] = "New Game";
}

<div class="text-center"> 


<h1>New Game</h1>
<br />
<br />

    <!--TODO:
        1. Track score
        2. Display remaining available letters in letter bag
    -->


    <br /><br />

    <!-- Playable Letters -- Buttons -->
    
    <form asp-page-handler="play" method="post">
    @for (int i = 0; i < NewGameModel.LettersPlayable.Count; i++)
    {
            <button name="letter" value="@NewGameModel.LettersPlayable[i]">@NewGameModel.LettersPlayable[i]</button>
        }
    </form>

    <br />
    <form asp-page-handler="unplay" method="post">
        <button>Undo</button>
    </form>

    

    <br />

    <!--Played Letters-->     
    <input type="text" asp-for="@NewGameModel.PlayLetter0" maxlength="1" style="width:20px; text-transform:uppercase" disabled>
    <input type="text" asp-for="@NewGameModel.PlayLetter1" maxlength="1" style="width:20px; text-transform:uppercase" disabled>
    <input type="text" asp-for="@NewGameModel.PlayLetter2" maxlength="1" style="width:20px; text-transform:uppercase" disabled>
    <input type="text" asp-for="@NewGameModel.PlayLetter3" maxlength="1" style="width:20px; text-transform:uppercase" disabled>
    <input type="text" asp-for="@NewGameModel.PlayLetter4" maxlength="1" style="width:20px; text-transform:uppercase" disabled>
    <input type="text" asp-for="@NewGameModel.PlayLetter5" maxlength="1" style="width:20px; text-transform:uppercase" disabled>
    <input type="text" asp-for="@NewGameModel.PlayLetter6" maxlength="1" style="width:20px; text-transform:uppercase" disabled>
   
</div>

